<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="NFConnection" value="Data Source=WIN-IB121SCP553;Initial Catalog=NFPlamed;Integrated Security=True;Pooling=False"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NfseWSServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="NfseWSServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://homologacao.webiss.com.br/ws/nfse.asmx"
          binding="basicHttpBinding" bindingConfiguration="NfseWSServiceSoap"
          contract="NfseWSService.NfseWSServiceSoap" name="NfseWSServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
