@{
    ViewBag.Title = "Parametro";
}
<div class="row">
    <div class="col-lg-12">
        <div id="dvTabelaPrincipal" class="box">
            <div class="box-body">
                <div style="margin: 0 0 1em 0;overflow: hidden; text-align:left;">
                    <button id="btnNovo" class="btn btn-sm btn-primary" type="button">
                        <i class="glyphicon glyphicon-plus visible-xs"></i>
                        <label class="hidden-xs" style="margin:0px;">Novo item</label>
                    </button>
                </div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="tabelaPrincipal">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Chave</th>
                                <th>Valor</th>
                                <th style="text-align: center;">A&ccedil;&otilde;es</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div id="dvFormCadastro" class="box" style="display:none;">
            <div class="box-body">
                <form id="formCadastro" action="#">
                    <div class="row">
                        <div class="col-lg-6 form-group campoCadastro">
                            <label>Chave:</label>
                            <input id="Chave" name="Chave" class="form-control" placeholder="Informe o Chave" maxlength="50"/>
                        </div>
                        <div class="col-lg-6 form-group campoLeitura">
                            <label>Chave:</label>
                            <p id="ChaveLeitura"></p>
                        </div>
                        <div class="col-lg-6 form-group campoCadastro">
                            <label>Valor:</label>
                            <input id="Valor" name="Valor" class="form-control" placeholder="Informe o Valor" maxlength="400"/>
                        </div>
                        <div class="col-lg-6 form-group campoLeitura">
                            <label>Valor:</label>
                            <p id="ValorLeitura"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 form-group" style="text-align:right;">
                            <button id="btnSalvar" class="btn btn-sm btn-success" style="margin-right:5px;" type="button">
                                <i class="glyphicon glyphicon-floppy-disk visible-xs"></i>
                                <label class="hidden-xs" style="margin:0px;">Salvar</label>
                            </button>
                            <button id="btnSalvarContinuar" class="btn btn-sm btn-success" style="margin-right:5px;" type="button">
                                <i class="glyphicon glyphicon-floppy-disk visible-xs"></i>
                                <label class="hidden-xs" style="margin:0px;">Salvar e Continuar</label>
                            </button>
                            <button id="btnCancelar" class="btn btn-sm btn-danger" type="button">
                                <i class="glyphicon glyphicon-remove visible-xs"></i>
                                <label class="hidden-xs" style="margin:0px;">Cancelar</label>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="@Url.Content("~/Scripts/custom/parametro.js")"></script>
}