USE [master]
GO
/****** Object:  Database [NFPlamed]    Script Date: 18/04/2019 16:50:40 ******/
CREATE DATABASE [NFPlamed]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NFPlamed', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\NFPlamed.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NFPlamed_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\NFPlamed_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NFPlamed].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NFPlamed]
GO
/****** Object:  Table [dbo].[DadosEnvio]    Script Date: 18/04/2019 16:50:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DadosEnvio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroLoteRps] [varchar](10) NOT NULL,
	[Data] [datetime] NOT NULL,
	[ArquivoImportacao] [varchar](120) NOT NULL,
	[ConteudoArquivoImportacao] [varchar](max) NOT NULL,
	[ArquivoRemessa] [varchar](120) NOT NULL,
	[XMLRemessa] [varchar](max) NOT NULL,
	[ArquivoRetorno] [varchar](120) NOT NULL,
	[XMLRetorno] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoteRps]    Script Date: 18/04/2019 16:50:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoteRps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroLote] [int] NULL,
	[CpfCnpj] [varchar](14) NULL,
	[InscricaoMunicipal] [varchar](7) NULL,
	[Quantidade] [int] NULL,
 CONSTRAINT [PK_LoteRps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Parametro]    Script Date: 18/04/2019 16:50:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Parametro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Chave] [varchar](50) NOT NULL,
	[Valor] [varchar](400) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Regra]    Script Date: 18/04/2019 16:50:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Regra](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Regra] [varchar](50) NULL,
	[CpfCnpj_Prestador] [varchar](14) NULL,
	[Discriminacao] [varchar](max) NULL,
	[Expressoes] [varchar](5000) NULL,
 CONSTRAINT [PK_Regra] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rps]    Script Date: 18/04/2019 16:50:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdLoteRps] [int] NOT NULL,
	[Numero] [int] NULL,
	[Serie] [char](3) NULL,
	[Tipo] [int] NULL,
	[DataEmissao] [date] NULL,
	[Status] [int] NULL,
	[Competencia] [date] NULL,
	[ValorServico] [varchar](50) NULL,
	[ISSRetido] [varchar](10) NULL,
	[ItemListaServico] [char](4) NULL,
	[CodigoCnae] [char](7) NULL,
	[CodigoTributacaoMunicipio] [char](4) NULL,
	[Discriminacao] [varchar](max) NULL,
	[CodigoMunicipio] [char](7) NULL,
	[ExigibilidadeISS] [int] NULL,
	[MunicipioIncidencia] [char](7) NULL,
	[CpfCnpj_Prestador] [varchar](14) NULL,
	[CpfCnpj_Tomador] [varchar](14) NULL,
	[OptanteSimplesNacional] [int] NULL,
	[IncentivoFiscal] [int] NULL,
 CONSTRAINT [PK_RPS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 18/04/2019 16:50:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
	[Login] [varchar](50) NOT NULL,
	[Senha] [varchar](100) NOT NULL,
	[DataCriacao] [datetime] NULL,
	[Tipo] [char](1) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DadosEnvio] ON 

SET IDENTITY_INSERT [dbo].[DadosEnvio] OFF
SET IDENTITY_INSERT [dbo].[LoteRps] ON 

INSERT [dbo].[LoteRps] ([Id], [NumeroLote], [CpfCnpj], [InscricaoMunicipal], [Quantidade]) VALUES (36, 36, N'24463140000164', N'1716281', 1)
INSERT [dbo].[LoteRps] ([Id], [NumeroLote], [CpfCnpj], [InscricaoMunicipal], [Quantidade]) VALUES (38, 37, N'24463140000164', N'1716281', 1)
INSERT [dbo].[LoteRps] ([Id], [NumeroLote], [CpfCnpj], [InscricaoMunicipal], [Quantidade]) VALUES (39, 38, N'24463140000164', N'1716281', 1)
SET IDENTITY_INSERT [dbo].[LoteRps] OFF
SET IDENTITY_INSERT [dbo].[Parametro] ON 

INSERT [dbo].[Parametro] ([Id], [Chave], [Valor]) VALUES (1, N'CertPath', N'C:\i9ti\www\SISPEC\I9TI SOLUCOES EM TECNOLOGIA DA INFORMACAO LTDA24463140000164.pfx')
INSERT [dbo].[Parametro] ([Id], [Chave], [Valor]) VALUES (3, N'CertPass', N'vini0305')
INSERT [dbo].[Parametro] ([Id], [Chave], [Valor]) VALUES (5, N'XmlPathCabecalho', N'C:\i9ti\www\SISPEC\Cabecalho.xml')
SET IDENTITY_INSERT [dbo].[Parametro] OFF
SET IDENTITY_INSERT [dbo].[Regra] ON 

INSERT [dbo].[Regra] ([Id], [Regra], [CpfCnpj_Prestador], [Discriminacao], [Expressoes]) VALUES (1, N'*', N'', N'Digite o corpo da nota aqui como quiser {ValorServicos}[expressoes[0]] volta ao conteudo aqui [expressoes[1]]
', N'{competencia}.addDay(30);{valorServicos}*1.30;{competencia}.addDay(-30)')
INSERT [dbo].[Regra] ([Id], [Regra], [CpfCnpj_Prestador], [Discriminacao], [Expressoes]) VALUES (2, N'CpfCnpj', N'07163003000195', N'Valor a ser pago na nota fiscal é de R$...
Este é o valor atual do serviço|
|CodigoCnae|
|DataEmissao', N'DataEmissao{+30}|')
INSERT [dbo].[Regra] ([Id], [Regra], [CpfCnpj_Prestador], [Discriminacao], [Expressoes]) VALUES (3, N'CpfCnpj', N'07163003000194', N'Descrição da Nota Fiscal, tudo pra de ', NULL)
SET IDENTITY_INSERT [dbo].[Regra] OFF
SET IDENTITY_INSERT [dbo].[Rps] ON 

SET IDENTITY_INSERT [dbo].[Rps] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Nome], [Login], [Senha], [DataCriacao], [Tipo]) VALUES (1, N'administrador', N'admin', N'e10adc3949ba59abbe56e057f20f883e', CAST(N'2019-04-17 00:00:00.000' AS DateTime), N'A')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[Rps]  WITH CHECK ADD  CONSTRAINT [FK_Rps_LoteRps] FOREIGN KEY([IdLoteRps])
REFERENCES [dbo].[LoteRps] ([Id])
GO
ALTER TABLE [dbo].[Rps] CHECK CONSTRAINT [FK_Rps_LoteRps]
GO
USE [master]
GO
